* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0 !important;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0;
}

/* html {
    height: 100%;
} */

body {
    background-color: #24262b;
    height: 100%;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none
}